.location-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.hive-info {
  flex: 1 1 350px;
  max-width: 450px;
  border-radius: 12px;
}

.map {
  flex: 1 1 350px;
  max-width: 600px;
  height: 400px;
  border: 2px solid #ccc;
  border-radius: 12px;
}

.hive-header {
  margin-bottom: 1rem;
}

.hive-list {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 1rem;
}
